@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* Always light theme */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* Tell the browser to use light mode colors */
html {
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Body defaults */
body {
  background: #ffffff !important;
  color: #000000 !important;
  font-family:  sans-serif;
}
.bg-1{
  background-color: #FC8019;
}
.h1{
  color:#FC8019;
  
}